//	Typography

.gigantic, .huge, .large, .bigger, .big, 
h1, h2, h3, h4, h5, h6{
  font-family: $gotham;
	font-weight: 700;
  color: $titles;
	text-transform: uppercase;
}

.huge, h1 {  
	font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px;
}
.large, h2 {
  font-size: 25px;
  line-height: 1.14;
	padding: 80px 0 50px;
	margin: 0;
	text-align: center;
}
h3 {
  font-size: 15x;
  line-height: 1.38;
}


p {
  margin: 0 0 20px 0;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0;
}

// Links

a {
  text-decoration: none;
  outline: 0;
}

// Lists

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	a {
		font-family: $lato;
		color: $header-nav;
		text-transform: uppercase;
	}
}

// Selection colors (easy to forget)

//::selection {
//  background: $selection-color;
//}  
//::-moz-selection {
//  background: $selection-color;
//}
//img::selection {
//  background: transparent;
//}  
//img::-moz-selection {
//  background: transparent;
//}  
//body {
//  -webkit-tap-highlight-color: $selection-color;
//}


// Basic Styles

body {
	box-sizing: border-box;
  background: $white;
	font-size: 14px;
  line-height: 1.6;
  font-family: $open-sans;
  color: $text-color;
	min-width: 300px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

div {
	box-sizing: border-box;
}


// clearfix

.clearfix{
	&:after {
  content: "";
  display: table;
  clear: both;
	}
	
}