@font-face {
  font-family: 'GothamProBlack';
  src: url('/assets/fonts/GothamProBlack/GothamProBlack.eot'); /* IE9 Compat Modes */
  src: url('/assets/fonts/GothamProBlack/GothamProBlack.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//       url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/GothamProBlack/GothamProBlack.woff') format('woff'), /* Pretty Modern Browsers */
       url('/assets/fonts/GothamProBlack/GothamProBlack.ttf')  format('truetype'); /* Safari, Android, iOS */
//       url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'OpenSansRegular';
  src: url('/assets/fonts/OpenSansRegular/OpenSansRegular.eot'); 
  src: url('/assets/fonts/OpenSansRegular/OpenSansRegular.eot?#iefix') format('embedded-opentype'), 
       url('/assets/fonts/OpenSansRegular/OpenSansRegular.woff') format('woff'), 
       url('/assets/fonts/OpenSansRegular/OpenSansRegular.ttf')  format('truetype'); 
}
