$white: #fff;
$titles: #394b50;
$orange: #f6772c;
$yellow: #ffc155;
$blue: #709dca;
$link-color: $orange;
$header-nav: #868686;
$text-color: #7b7b7b;
$selection-color: #FFF498;



$laptop: 1024;
$tablet-to: 1023px;
$tablet-from: 768px;
$big-phone: 767px;
$phone: 568px;


$img-path: "/assets/img/";

$gotham: 'GothamProBlack',sans-serif;
$lato: 'Lato', sans-serif;
//$open-sans: 'Open Sans', sans-serif;
$open-sans: 'OpenSansRegular', sans-serif;
