.about {
	position: relative;
	
	&__text{
		
		padding-left: 150px;
		font-family: $open-sans;
		text-align: justify;
	}
	
	
	
	&:before {
		content: "";
		display: block;
		position: absolute;
		background-image: url(/assets/img/icons-sprite.png);
		height: 100px;
		width: 80px;
		top:165px;
		left: 50px;
	}
}


@media (max-width: $tablet-to) {


	.about {
		padding-left: 50px;
		padding-right: 50px;

		&:before { 
			left: 75px;
		}
	}
	
}

@media (max-width: $big-phone) {
	
	.about {
		
		&__text {
			padding-left: 0px;
		}
		
		&:before {
			
			position: static;
			margin: 30px auto -40px;
			
			
		}
	}
	
	.about.container {
		margin-bottom: 50px;
	}
	
}