.banner {
	background-position: 50% 50%; 
  background-image: url(/assets/img/hero-img-top.jpg);
	background-size: cover;
	padding: 10px;
	text-align: center;
	
	&__title {
		margin: 10px;
		font-family: $gotham;
		font-size: 35px;
		color: $white;
		
	}
	
	&__subtext {
		font-size: 30px;
		font-family: $open-sans;
		font-weight: 300;
//		color: #373739;
		color: $white;
//		text-decoration: underline;
	}
	
	&__video {
		display: block;
		margin: 80px auto 200px;
		width: 300px;
		height: 150px;
		background: transparent;
		border: none;
	}
	
	&__date {
		font-family: $gotham;
		font-size: 30px;
		color: #fff;
		
	}
		
	
}


@media (max-width: 1169px) {
	
	.banner__subtext {
		font-size: 28px;
	}
}

@media (max-width: 940px) {
	
	.banner {
		
		&__title { font-size: 25px;}
		
		&__subtext { font-size: 22px;}
		&__date { font-size: 24px;}
		
	}
	
	
}