.contacts {
	margin-bottom: 80px;
	&__item {
		@include img-block(450px, 150px);
		float: none;
		display: block;
		margin: auto;
		padding-top: 20px;
		&__name {
			color: $orange;
		}
		
		&:before {
		content: "";
		display: block;
		position: absolute;
		height: 121px;
		width: 121px;
		background-size: 121px 121px;
		top: 0;
		left: 0;			
		background-image: url(/assets/img/soloid.png);			

		}
	}
		
}

@media (max-width: $phone) {
	
	.contacts__item {
		 
		width: 100%; 
		padding: 0;
		text-align: center;
		
		&:before {
			
			position: static;
			margin: auto;
		}
	}
}