.footer {
	background: $blue;
	
	&__logo {
		display: block;
		width: 33%;
		box-sizing: border-box;
		float: left;
		margin: auto;
		padding-top: 20px;
		
		img {
			width: 250px;
		}

		
	}
	
	&__contacts {
		width: 33%;
		box-sizing: border-box;
		float: left;
		padding-left: 30px;
		position: relative;
		padding-top: 20px;
		font-size: 18px;
		color: $white;
		text-align: center;
		
		&__phone {
			&:before{
				content: "";
				display: inline-block;
				vertical-align: bottom;
				margin-right: 5px;
				width: 22px;
				height: 25px;
				background: url(/assets/img/icons-sprite.png) -320px -80px;				
			}
		}
		&__email {
			&:before{
				content: "";
				display: inline-block;
				vertical-align: bottom;
				margin-right: 5px;
				width: 22px;
				height: 25px;
				background: url(/assets/img/icons-sprite.png) -240px -80px;				
			}
		}
		
	}
	
	&__social-nav {
		
		width: 33%;
		box-sizing: border-box;
		float: left;
//		padding-top: 20px;

	}
	&__copyright {
		margin: auto;
		text-align: center;
		color: $white;
		font-size: 12px;
		padding: 10px 0 10px 0;
	}
	
}

.social-nav {
	float: right;
	margin-top: 10px;
	
	&__link {
		
		display: inline-block;
		float: left;
		font-family: 'Lato', sans-serif;
		color: $header-nav;
		text-transform: uppercase;
		padding-top: 10px;
		&__icon {
			width: 30px;
			padding: 5px 10px;
		}
	}
	
}

@media (min-width: 768px) and (max-width: 939px) {
	
	.footer {
		padding: 0 10px 0;
	
		&__contacts {

			&__phone {
				&:before{
					content: "";
					display: block;
					vertical-align: bottom;
					margin: 0 auto 5px;
					width: 22px;
					height: 25px;
					background: url(/assets/img/icons-sprite.png) -320px -80px;				
				}
			}
			&__email {
				&:before{
					content: "";
					display: block;
					vertical-align: bottom;
					margin: 0 auto 5px;
					width: 22px;
					height: 25px;
					background: url(/assets/img/icons-sprite.png) -240px -80px;				
				}
			}
		}
	}

}

@media (max-width: $big-phone) {
	
	.footer {
		
		&__contacts{
			
			width: 100%
				
		}
		
		&__logo {
			display: block;
			width: 100%;
			img {
				display: block;
				margin: auto;
			}
		}
		
		&__social-nav {
			width: 100%;
			
			
			.social-nav {
				display: table;
				margin: auto;
				float: none;
			}
		
		}
	}
	
	
}

//		FOOTER
//	.footer__logo img {
//		width: 200px;
//		margin-left: 20px;
//	}
//	
//	.social-nav {
//		margin-right: 20px;
//	}

