// header styles
header{
//transition: all 0.6s ease;
	&.sticky{
			position: fixed;
			width: 100%;
			background-color: white;
			z-index: 100;
			top: -10px;
			.header__nav {	
				margin: 27px 0 10px;
			}
		  .header__logo {
				margin-top: 10px;
			}
	}
}

.header {
	margin: auto;
	margin-top: 10px;
	height: 85px;
	width: 1170px;
	
	
	&__nav {
		display: inline-block;
		float: right;
		margin: 19px 0 10px;
		
	}
	&__logo {
		display: inline-block;
		float: left;
		width: 220px;
		margin-top: 5px;
		img{
			width: 100%;
		}
		
	}
	
	&__collapse-btn {
		
		display: none;
		float: right;
		font-size: 22px;
		border: 1px solid $yellow;
		text-align: center;
		border-radius: 10px;
		color: $yellow;
		margin: 20px;
		width: 35px;
		height: 35px;
		&:hover {
			background: $yellow;
			color: $white;
		}
		p {
			cursor: pointer;
		}
	}
	&__collapse-btn--active {
		background: $yellow !important;
		color: $white !important;
	}

}

.nav__link {
	display: inline-block;
	float: left;
	font-family: $lato;
	color: $header-nav;
	text-transform: uppercase;
	
	a {
		padding: 5px 10px;
		display: block;
		border-radius: 3px;
		
		&:hover {
			color: $titles;
		}
	}
}

.nav__link--btn {
	background-color: #ffa300;
	border-radius: 3px;

		a{
			font-weight: 700;
			text-transform: uppercase;
			color: $white;
			
			&:hover {
				
				background-color: #f8ac25;
				color: $white;
			}
		}
	}



@media (max-width: 1199px) {

	.header {
		width: 100%;
		&__nav {
			background: $white;
			display: none;
			width: 30%;
			margin: 5px 0 10px;
			padding: 0 20px;
			box-sizing: border-box;
			
			position: absolute;
			right: 70px;
			top: 85px;
		}	
		&__collapse-btn {
			display: block;
		}
	}
		.nav__link {
			display: block;
			float: none;
			text-align: center;
			border-bottom: 1px solid #e2e9f0;
			
		}
		.nav__link--btn {
			width: 200px;
			margin: 10px auto;
		}
	
}

@media (max-width: 939px) {
	
		.header__nav {
			
			width: 100%;
			position: static;
		}
}

