.container {
	margin: 0 auto;
}


.back-to-top {
	
	display: none;
	position: fixed;
	bottom: 50px;
  right: 100px;
	width: 72px;
  height: 72px;
  background: url(/assets/img/icons-sprite.png) -80px -211px;
}


@media(min-width: 1024px) {
	
	.container {
		width: 940px;
	}
	
}

@media (max-width: 1023px) {
//	.container {
//		width: 100%;
//		box-sizing: border-box;
//	}
	
	h2 {
		padding: 60px 0 45px;
	}


	.review {

		float: none;
		display: block;
		margin: auto;
		margin-bottom: 20px;

	}


		
	
}

