.partner {
	
	margin-bottom: 50px;
	
	&__logo {
		box-sizing: border-box;
		display: inline-block;
		margin: 0;
		padding: 25px;
		width: 25%;
		float: left;
		
		img {
			width: 100%;
		}
			
	}
}

@media (max-width: $tablet-to) {
	
	
	.partner__logo {
		
		width: 33.3%;
	}
	
	
}

@media (max-width: $big-phone) {
	
	.partner__logo { 
		width: 50%;
	}
}