.program {
	margin-right: 0;
  margin-left: 0;
	position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
	
	
	&__content {
		display: block;
		background: $yellow;
		padding: 20px 0 20px;
		&__title {
			color: $white;
			padding: 50px 0 30px;
		}
		&__tab {
			
			display: none;
			opacity: 0;
			-webkit-transition: opacity .15s linear;
			-o-transition: opacity .15s linear;
			transition: opacity .15s linear;

			&__active {
				display: block;
				opacity: 1;
			}
			
			
			
			
		}

	}
	
}

// NAVIGATION PART

.program__nav {
	padding: 150px 0 0 0;
	text-align: center;
}

.nav__tab {
	float: left;
	position: relative;
	margin-bottom: -1px;
	width: 25%;
	box-sizing: border-box;
	font-size: 15px;
	
	&__active {

		.nav__tab__title{
			background: $yellow;
			border-radius: 3px;
			width: 200px;
			margin: auto;
			color: $white;
		} 
		.nav__tab__date {
			background: $yellow;
			width: 200px;
			margin: auto;
			color: $white;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
		}
	}

	&__title {
		font-weight: 700;
	}
	
	&__date {
		box-sizing: border-box;
		padding: 10px;
		font-weight: 700;
		
	}	
	p{
		height: 80px;
		margin: 10px auto;
		font-size: 14px;
	}
	
	
	
}


.nav__tab__list {
		
		&:before {
			
			content: "";
			display: block;
			position: absolute;
			left: 85px;
			top: -120px;
			width: 80px;
			height: 100px;
			
			background: url(/assets/img/icons-sprite.png) -160px -105px;
			
			
			
		}
		&:after {
			content: "";
			display: block;
			position: absolute;
			left: 170px;
			top: -160px;
			width: 130px;
			height: 35px;
			
			background: url(/assets/img/icons-sprite.png) -320px -105px;
			
		}
		
		
		
}

.nav__tab__lance {
		
		&:before {
			
			content: "";
			display: block;
			position: absolute;
			left: 85px;
			top: -120px;
			width: 80px;
			height: 100px;
			
			background: url(/assets/img/icons-sprite.png) -240px -105px;
			
			
			
		}
		&:after {
			content: "";
			display: block;
			position: absolute;
			left: 170px;
			top: -100px;
			width: 130px;
			height: 35px;
			
			background: url(/assets/img/icons-sprite.png) -320px -140px;
			
		}
		
		
		
}

.nav__tab__to-do {
		
		&:before {
			
			content: "";
			display: block;
			position: absolute;
			left: 85px;
			top: -120px;
			width: 80px;
			height: 100px;
			
			background: url(/assets/img/icons-sprite.png) -0px -105px;
			
			
			
		}
		&:after {
			content: "";
			display: block;
			position: absolute;
			left: 170px;
			top: -160px;
			width: 130px;
			height: 35px;
			
			background: url(/assets/img/icons-sprite.png) -320px -105px;
			
		}
		
		
		
}

.nav__tab__paper-plane {
		
		&:before {
			
			content: "";
			display: block;
			position: absolute;
			left: 85px;
			top: -120px;
			width: 80px;
			height: 100px;
			
			background: url(/assets/img/icons-sprite.png) -80px -105px;
			
			
			
		}		
		
}


	
// CONTENT PART

.content__item {
	background: $white;
	position: relative;
	box-sizing: border-box;
	margin-bottom: 20px;
	
	&__name {
		color: $orange;
		font-size: 20px;
		padding-top: 20px;
	}
	&__title {
		font-size: 20px;
		text-transform: uppercase;
		
	}
	&__description {
		font-size: 12px;
		
	}
	
	p {
		margin: 0 0 0 140px;		
	}
	
	&__img {
	display: inline-block;
	margin: 10px 30px 10px 10px;
	height: 121px;
	width: 121px;
	float: left;
		img{
			width: 100%;
		}
	}
	
	&__time {
		display: block;
		position: absolute;  
		right: 40px;
		top: 40px;
		font-size: 25px;
	}
	
}





@media (min-width: $tablet-from) and (max-width: $tablet-to){
	.program__content__tab__active {
		display: block;
		padding: 0 30px 0;
	}
	
}


@media(min-width: $tablet-from) and (max-width: 900px) {	
	
	.nav__tab__list:after {
		height: 27px;
		background: url(/assets/img/icons-sprite.png) -256px -85px;
		background-size: 400px 240px;
			
		}
	
	
	.nav__tab__lance:after {
		left: 160px;
		width: 130px;
		height: 27px;
		background: url(/assets/img/icons-sprite.png) -256px -111px;
		background-size: 400px 240px;
	}
	
	
	.nav__tab__to-do:after {
		height: 27px;
		background: url(/assets/img/icons-sprite.png) -256px -85px;
		background-size: 400px 240px;
			
		}
	
}


@media(max-width: $big-phone) {	
	
	.program__nav {
		padding: 0;
	}
	
	.nav__tab {
		width: 50%;
		p {
			display: none;
		}
		
		&__active &__title {
			border-radius: 0px;
		}
		
		&__active &__date {
			border-radius: 0px;
		}
	}
	
	
	
	.nav__tab__list {
		&:after {
			display: none;
			
		}
		&:before {
			display: none;
			
		}
	}
	
	.nav__tab__lance {
		&:after {
			display: none;
			
		}
		&:before {
			display: none;
			
		}
	}
	
	
	.nav__tab__to-do {
		&:after {
			display: none;
			
		}
		&:before {
			display: none;
			
		}		
	}
	
	.nav__tab__paper-plane {
		&:after {
			display: none;
			
		}
		&:before {
			display: none;
			
		}		
	}
	
	.content__item {
		
		height: 140px;
		
		&__img {
			
			margin: 10px 40px 2px 10px;
		}
		&__name {
			
			font-size: 18px;
		}
		
		&__title {
			
			font-size: 16px;
		}
		
	}
	
	
	
}

@media (max-width: $phone) {
	
	.program__nav {
		padding: 0;
	}
	
	
	
	.content__item {
		
		height: auto;
		padding: 20px 20px;
		text-align: center;
		
		
		&__img {
			float: none;
			margin: auto;
		} 
		
		&__time {
			position: static;
		}
		p {
			margin: 0px;
		}
	}
	
	
}



//	.program__nav {
//		padding: 0;
//	}
//	
//	
//	
//	.content__item {
//		
//		height: auto;
//		
//		&__img {
//			
//			margin: 10px 20px 2px 10px;
//		}
//		&__name {
//			
//			font-size: 18px;
//		}
//		
//		&__title {
//			
//			font-size: 16px;
//		}
//		
//		&__time {
//			position: static;
//		}
//	}
//	
//	
//}









