.reward {
	
	&__title {
		margin: 80px 0 50px;
	}
	
	&__uniqe-proposal {
		@include img-block(50%, 150px);
		font-family: $open-sans;
		
		&:before {
			content: "";
			display: block;
			position: absolute;
			height: 100px;
			width: 80px;
			top: 20px;
			left: 50px;
		}
		
		&__one {
			
			&:before {
				
				background: url(/assets/img/icons-sprite.png) -80px 0px;	
			}
			
		}
		&__two {
			
			&:before {
				background: url(/assets/img/icons-sprite.png) -160px 0px;	
			}
			
		}
		&__three {
			
			&:before {
				background: url(/assets/img/icons-sprite.png) -320px 0px;			}
			
		}
		&__four {
			
			&:before {
				background: url(/assets/img/icons-sprite.png) -240px 0px;
			}
			
		}
	}
	
	
	
}


@media (max-width: $big-phone) {
	
	.reward {
		
		padding: 0 20px;
		&__uniqe-proposal {
			padding: 0;
			width: 100%;
			text-align: center;


			&:before {

				position: static;
				margin: auto;
			}
		}
	}	

}




