.registration {
	background-color: #e7edf3;
	padding-bottom: 50px;
}

.prices {
	
	display: table;	
	
	&__item {
		
		display: inline-block;
		width: 33.3%;
		vertical-align: middle;
		padding: 30px 20px 30px;
		box-sizing: border-box;
		
		&__title {
			@extend .large;
			padding: 0;
			font-family: 'Lato';
			color: #818b95;
		}
		
		&__price {
			color: $orange;
			text-align: center;
			
			span {	
				font-size: 45px;
				position: relative;
				
				&:before {
					content: "$";
					position: absolute;
					font-size: 25px;
					left: -20px;
				}
			}
			
			
		}
		
		&__description {
			text-align: center;
			margin: 0;
			border-top: 1px solid #b5bbc1;
			color: #b5bbc1;
			padding: 5px;
			
		}
		
		&__description--border-btn {
			border-bottom: 1px solid #b5bbc1;
		}
		
		&__button {
			margin: 20px auto;
			background: #3395f7;
			display: block;
			border: none;
			border-radius: 3px;
			padding: 5px 30px;
			font-family: 'Lato', sans-serif;;
			font-size: 18px;
			color: $white;
			text-transform: uppercase;
		}
		
		
	}
	
	
	&__item--first {
		
		height: 300px;
		background-color: $white;

	}
	
	&__item--second {
		
		height: 350px;
		background-color: #ffbb42;
		
			.prices__item {

				&__title {
					padding-top: 25px;
					color: $white;
				}

				&__price { 
					color: $white; 
				
				}
				&__description {
					text-align: center;
					margin: 0;
					border-top: 1px solid $white;
					color: $white;
					padding: 5px;

				}

				&__description--border-btn {
					border-bottom: 1px solid $white;
				}
			}
		
		span {
			&:after {
							content: "при оплате до 10 июня";
							position: absolute;
							left: -43px;
							top: 55px;
							width: 190px;
							font-size: 16px;
							color: #709dca;
						}
		}
			
			
		}
	
	&__item--third {
		
		height: 300px;
		background-color: $white;
		span {
			&:after {
							content: "при после 10 июня";
							position: absolute;
							left: -43px;
							top: 55px;
							width: 190px;
							font-size: 16px;
							color: $text-color;
			}
		}

	}
	
	
	
	
}


@media (max-width: $tablet-from) {
	
	
	.prices {
		
		padding: 20px;
		&__item {

			width: 33.3%;
		}
		
		&__item--first, &__item--third {
			
			height: 340px;		
		}
		
		&__item--second {
			
			height: 388px;
		}
		
	}
	
}


@media (max-width: $phone) {
	
	.prices {
		
		.prices__item {
			
			height: auto;
			width: 100%;
		}
	}
	
	
}








