 .reviews {
	 background-color: $yellow;
	 padding-bottom: 50px;
	 
	 &__title {
		 color: $white;
	 }
	 
	 
 }

.review {
//	display: inline-block;
//	float: left;
	position: relative;
	box-sizing: border-box;
//	margin:10px;
//	width: 450px;
	width: 80%;
	margin: 0 auto 20px;
	background-color: $white;
	padding: 25px 15px 25px 150px;
	
	p {
		font-family: 'Open Sans';
		font-size: 14px;
	}
	&__author {
		color: $orange;
		text-transform: uppercase;
		margin: 0;
	}	
	
	&:before {
		content: "";
		display: block;
		position: absolute;
		height: 121px;
		width: 121px;
		background-size: 121px 121px;
		top: 25px;
		left: 15px;
	}
	&__one {

		&:before {
			background-image: url(/assets/img/belaya.png);			

		}
	}
	&__two {

		&:before {
			background-image: url(/assets/img/shevchuk.png);			

		}
	}
	&__three {

		&:before {
			background-image: url(/assets/img/speaker.png);			

		}
	}
}


@media (max-width: $phone) {
	
	.review {
		 
		width: 100%; 
	}
}	
	
	
	
	