
.speakers {	

	&__details{
		width: 50%;
		float:left;
		position: relative;
		display: inline-block;
		box-sizing: border-box;
		padding: 15px;
		font-family: 'Open Sans';
		text-align: left;
		
		h3 {
			color: $orange;
		}
			
	}
	&__img {
		display: inline-block;
		float: left;
		margin: 19px 29px 19px 0;	
		
		img {width: 121px;}
	}
	p {
		text-align: justify;
	}
}


	
	
@media (max-width: $big-phone) {
	
	.speakers {
		 
		&__details {
			padding: 20px;
			
			text-align: center;
		}
		
		
		&__img {
			
			display: block;
			float: none;
			text-align: center;
		}
	}
}

@media (max-width: $phone) {
	
	.speakers__details {
		
		width: 100%;
	}
	
}