.who {
	
	&__image {
		display: inline-block;
		position: relative;
		height: 560px;
		width: 50%;
		background-image: url($img-path + "who-img.jpg");
		background-size: auto 680px;
		background-position: top left;
		background-attachment: fixed;
		background-repeat: no-repeat;
		
	}
	
	&__text {
		display: inline-block;
		box-sizing: border-box;
		height: 560px;
		width: 50%;
		float: right;
		padding-left: 50px;
		padding-right: 50px;
		background-color: $blue;
		color: $white;
		
		h2 {
			width: 400px;
			float: left;
			color: $white;
		}
		p {
			width: 400px;
		}
	}
	
} 

@media (max-width: 939px) {
	
	.who {
		
		&__image { background-position: -225px 0px; }
		
		
		&__text {
			
			padding-left: 20px;
			padding-right: 20px;
			
			h2 { 
				width: auto; 
				padding: 30px 0 30px;
			}
			
			p { width: auto; }
			
			
		}
		
		
	}
	
}


@media (max-width: $big-phone) {
	
	.who {
		
		&__image {
			background-position: 0;
			width: 100%;
			height: 150px;
			margin-bottom: -10px;
		}
		
		&__text {
			width: 100%;
			height: auto;
			padding-bottom: 30px;
			
			
			h2 {
				float: none;
			}
		}
		
		
		
		
		
	}
	
}





