@charset "UTF-8";
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

a {
  background: 0 0; }

a:active, a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code, kbd, pre, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], html input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  height: auto; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: 700; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

@font-face {
  font-family: 'GothamProBlack';
  src: url('/assets/fonts/GothamProBlack/GothamProBlack.eot');
  /* IE9 Compat Modes */
  src: url('/assets/fonts/GothamProBlack/GothamProBlack.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/GothamProBlack/GothamProBlack.woff') format('woff'), url('/assets/fonts/GothamProBlack/GothamProBlack.ttf') format('truetype');
  /* Safari, Android, iOS */ }

@font-face {
  font-family: 'OpenSansRegular';
  src: url('/assets/fonts/OpenSansRegular/OpenSansRegular.eot');
  src: url('/assets/fonts/OpenSansRegular/OpenSansRegular.eot?#iefix') format('embedded-opentype'), url('/assets/fonts/OpenSansRegular/OpenSansRegular.woff') format('woff'), url('/assets/fonts/OpenSansRegular/OpenSansRegular.ttf') format('truetype'); }

.gigantic, .huge, .large, .prices__item__title, .bigger, .big, h1, h2, h3, h4, h5, h6 {
  font-family: 'GothamProBlack', sans-serif;
  font-weight: 700;
  color: #394b50;
  text-transform: uppercase; }

.huge, h1 {
  font-size: 68px;
  line-height: 1.05;
  letter-spacing: -1px; }

.large, .prices__item__title, h2 {
  font-size: 25px;
  line-height: 1.14;
  padding: 80px 0 50px;
  margin: 0;
  text-align: center; }

h3 {
  font-size: 15x;
  line-height: 1.38; }

p {
  margin: 0 0 20px 0; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

hr {
  border: solid #ddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 10px 0 30px;
  height: 0; }

a {
  text-decoration: none;
  outline: 0; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }
  li a {
    font-family: 'Lato', sans-serif;
    color: #868686;
    text-transform: uppercase; }

body {
  box-sizing: border-box;
  background: #fff;
  font-size: 14px;
  line-height: 1.6;
  font-family: 'OpenSansRegular', sans-serif;
  color: #7b7b7b;
  min-width: 300px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

div {
  box-sizing: border-box; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

header.sticky {
  position: fixed;
  width: 100%;
  background-color: white;
  z-index: 100;
  top: -10px; }
  header.sticky .header__nav {
    margin: 27px 0 10px; }
  header.sticky .header__logo {
    margin-top: 10px; }

.header {
  margin: auto;
  margin-top: 10px;
  height: 85px;
  width: 1170px; }
  .header__nav {
    display: inline-block;
    float: right;
    margin: 19px 0 10px; }
  .header__logo {
    display: inline-block;
    float: left;
    width: 220px;
    margin-top: 5px; }
    .header__logo img {
      width: 100%; }
  .header__collapse-btn {
    display: none;
    float: right;
    font-size: 22px;
    border: 1px solid #ffc155;
    text-align: center;
    border-radius: 10px;
    color: #ffc155;
    margin: 20px;
    width: 35px;
    height: 35px; }
    .header__collapse-btn:hover {
      background: #ffc155;
      color: #fff; }
    .header__collapse-btn p {
      cursor: pointer; }
  .header__collapse-btn--active {
    background: #ffc155 !important;
    color: #fff !important; }

.nav__link {
  display: inline-block;
  float: left;
  font-family: 'Lato', sans-serif;
  color: #868686;
  text-transform: uppercase; }
  .nav__link a {
    padding: 5px 10px;
    display: block;
    border-radius: 3px; }
    .nav__link a:hover {
      color: #394b50; }

.nav__link--btn {
  background-color: #ffa300;
  border-radius: 3px; }
  .nav__link--btn a {
    font-weight: 700;
    text-transform: uppercase;
    color: #fff; }
    .nav__link--btn a:hover {
      background-color: #f8ac25;
      color: #fff; }

@media (max-width: 1199px) {
  .header {
    width: 100%; }
    .header__nav {
      background: #fff;
      display: none;
      width: 30%;
      margin: 5px 0 10px;
      padding: 0 20px;
      box-sizing: border-box;
      position: absolute;
      right: 70px;
      top: 85px; }
    .header__collapse-btn {
      display: block; }
  .nav__link {
    display: block;
    float: none;
    text-align: center;
    border-bottom: 1px solid #e2e9f0; }
  .nav__link--btn {
    width: 200px;
    margin: 10px auto; } }

@media (max-width: 939px) {
  .header__nav {
    width: 100%;
    position: static; } }

.banner {
  background-position: 50% 50%;
  background-image: url(/assets/img/hero-img-top.jpg);
  background-size: cover;
  padding: 10px;
  text-align: center; }
  .banner__title {
    margin: 10px;
    font-family: 'GothamProBlack', sans-serif;
    font-size: 35px;
    color: #fff; }
  .banner__subtext {
    font-size: 30px;
    font-family: 'OpenSansRegular', sans-serif;
    font-weight: 300;
    color: #fff; }
  .banner__video {
    display: block;
    margin: 80px auto 200px;
    width: 300px;
    height: 150px;
    background: transparent;
    border: none; }
  .banner__date {
    font-family: 'GothamProBlack', sans-serif;
    font-size: 30px;
    color: #fff; }

@media (max-width: 1169px) {
  .banner__subtext {
    font-size: 28px; } }

@media (max-width: 940px) {
  .banner__title {
    font-size: 25px; }
  .banner__subtext {
    font-size: 22px; }
  .banner__date {
    font-size: 24px; } }

.about {
  position: relative; }
  .about__text {
    padding-left: 150px;
    font-family: 'OpenSansRegular', sans-serif;
    text-align: justify; }
  .about:before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(/assets/img/icons-sprite.png);
    height: 100px;
    width: 80px;
    top: 165px;
    left: 50px; }

@media (max-width: 1023px) {
  .about {
    padding-left: 50px;
    padding-right: 50px; }
    .about:before {
      left: 75px; } }

@media (max-width: 767px) {
  .about__text {
    padding-left: 0px; }
  .about:before {
    position: static;
    margin: 30px auto -40px; }
  .about.container {
    margin-bottom: 50px; } }

.who__image {
  display: inline-block;
  position: relative;
  height: 560px;
  width: 50%;
  background-image: url("/assets/img/who-img.jpg");
  background-size: auto 680px;
  background-position: top left;
  background-attachment: fixed;
  background-repeat: no-repeat; }
.who__text {
  display: inline-block;
  box-sizing: border-box;
  height: 560px;
  width: 50%;
  float: right;
  padding-left: 50px;
  padding-right: 50px;
  background-color: #709dca;
  color: #fff; }
  .who__text h2 {
    width: 400px;
    float: left;
    color: #fff; }
  .who__text p {
    width: 400px; }

@media (max-width: 939px) {
  .who__image {
    background-position: -225px 0px; }
  .who__text {
    padding-left: 20px;
    padding-right: 20px; }
    .who__text h2 {
      width: auto;
      padding: 30px 0 30px; }
    .who__text p {
      width: auto; } }

@media (max-width: 767px) {
  .who__image {
    background-position: 0;
    width: 100%;
    height: 150px;
    margin-bottom: -10px; }
  .who__text {
    width: 100%;
    height: auto;
    padding-bottom: 30px; }
    .who__text h2 {
      float: none; } }

.program {
  margin-right: 0;
  margin-left: 0;
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px; }
  .program__content {
    display: block;
    background: #ffc155;
    padding: 20px 0 20px; }
    .program__content__title {
      color: #fff;
      padding: 50px 0 30px; }
    .program__content__tab {
      display: none;
      opacity: 0;
      -webkit-transition: opacity .15s linear;
      -o-transition: opacity .15s linear;
      transition: opacity .15s linear; }
      .program__content__tab__active {
        display: block;
        opacity: 1; }

.program__nav {
  padding: 150px 0 0 0;
  text-align: center; }

.nav__tab {
  float: left;
  position: relative;
  margin-bottom: -1px;
  width: 25%;
  box-sizing: border-box;
  font-size: 15px; }
  .nav__tab__active .nav__tab__title {
    background: #ffc155;
    border-radius: 3px;
    width: 200px;
    margin: auto;
    color: #fff; }
  .nav__tab__active .nav__tab__date {
    background: #ffc155;
    width: 200px;
    margin: auto;
    color: #fff;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  .nav__tab__title {
    font-weight: 700; }
  .nav__tab__date {
    box-sizing: border-box;
    padding: 10px;
    font-weight: 700; }
  .nav__tab p {
    height: 80px;
    margin: 10px auto;
    font-size: 14px; }

.nav__tab__list:before {
  content: "";
  display: block;
  position: absolute;
  left: 85px;
  top: -120px;
  width: 80px;
  height: 100px;
  background: url(/assets/img/icons-sprite.png) -160px -105px; }
.nav__tab__list:after {
  content: "";
  display: block;
  position: absolute;
  left: 170px;
  top: -160px;
  width: 130px;
  height: 35px;
  background: url(/assets/img/icons-sprite.png) -320px -105px; }

.nav__tab__lance:before {
  content: "";
  display: block;
  position: absolute;
  left: 85px;
  top: -120px;
  width: 80px;
  height: 100px;
  background: url(/assets/img/icons-sprite.png) -240px -105px; }
.nav__tab__lance:after {
  content: "";
  display: block;
  position: absolute;
  left: 170px;
  top: -100px;
  width: 130px;
  height: 35px;
  background: url(/assets/img/icons-sprite.png) -320px -140px; }

.nav__tab__to-do:before {
  content: "";
  display: block;
  position: absolute;
  left: 85px;
  top: -120px;
  width: 80px;
  height: 100px;
  background: url(/assets/img/icons-sprite.png) 0px -105px; }
.nav__tab__to-do:after {
  content: "";
  display: block;
  position: absolute;
  left: 170px;
  top: -160px;
  width: 130px;
  height: 35px;
  background: url(/assets/img/icons-sprite.png) -320px -105px; }

.nav__tab__paper-plane:before {
  content: "";
  display: block;
  position: absolute;
  left: 85px;
  top: -120px;
  width: 80px;
  height: 100px;
  background: url(/assets/img/icons-sprite.png) -80px -105px; }

.content__item {
  background: #fff;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 20px; }
  .content__item__name {
    color: #f6772c;
    font-size: 20px;
    padding-top: 20px; }
  .content__item__title {
    font-size: 20px;
    text-transform: uppercase; }
  .content__item__description {
    font-size: 12px; }
  .content__item p {
    margin: 0 0 0 140px; }
  .content__item__img {
    display: inline-block;
    margin: 10px 30px 10px 10px;
    height: 121px;
    width: 121px;
    float: left; }
    .content__item__img img {
      width: 100%; }
  .content__item__time {
    display: block;
    position: absolute;
    right: 40px;
    top: 40px;
    font-size: 25px; }

@media (min-width: 768px) and (max-width: 1023px) {
  .program__content__tab__active {
    display: block;
    padding: 0 30px 0; } }

@media (min-width: 768px) and (max-width: 900px) {
  .nav__tab__list:after {
    height: 27px;
    background: url(/assets/img/icons-sprite.png) -256px -85px;
    background-size: 400px 240px; }
  .nav__tab__lance:after {
    left: 160px;
    width: 130px;
    height: 27px;
    background: url(/assets/img/icons-sprite.png) -256px -111px;
    background-size: 400px 240px; }
  .nav__tab__to-do:after {
    height: 27px;
    background: url(/assets/img/icons-sprite.png) -256px -85px;
    background-size: 400px 240px; } }

@media (max-width: 767px) {
  .program__nav {
    padding: 0; }
  .nav__tab {
    width: 50%; }
    .nav__tab p {
      display: none; }
    .nav__tab__active .nav__tab__title {
      border-radius: 0px; }
    .nav__tab__active .nav__tab__date {
      border-radius: 0px; }
  .nav__tab__list:after {
    display: none; }
  .nav__tab__list:before {
    display: none; }
  .nav__tab__lance:after {
    display: none; }
  .nav__tab__lance:before {
    display: none; }
  .nav__tab__to-do:after {
    display: none; }
  .nav__tab__to-do:before {
    display: none; }
  .nav__tab__paper-plane:after {
    display: none; }
  .nav__tab__paper-plane:before {
    display: none; }
  .content__item {
    height: 140px; }
    .content__item__img {
      margin: 10px 40px 2px 10px; }
    .content__item__name {
      font-size: 18px; }
    .content__item__title {
      font-size: 16px; } }

@media (max-width: 568px) {
  .program__nav {
    padding: 0; }
  .content__item {
    height: auto;
    padding: 20px 20px;
    text-align: center; }
    .content__item__img {
      float: none;
      margin: auto; }
    .content__item__time {
      position: static; }
    .content__item p {
      margin: 0px; } }

.reward__title {
  margin: 80px 0 50px; }
.reward__uniqe-proposal {
  width: 50%;
  float: left;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding-left: 150px;
  font-family: 'OpenSansRegular', sans-serif; }
  .reward__uniqe-proposal:before {
    content: "";
    display: block;
    position: absolute;
    height: 100px;
    width: 80px;
    top: 20px;
    left: 50px; }
  .reward__uniqe-proposal__one:before {
    background: url(/assets/img/icons-sprite.png) -80px 0px; }
  .reward__uniqe-proposal__two:before {
    background: url(/assets/img/icons-sprite.png) -160px 0px; }
  .reward__uniqe-proposal__three:before {
    background: url(/assets/img/icons-sprite.png) -320px 0px; }
  .reward__uniqe-proposal__four:before {
    background: url(/assets/img/icons-sprite.png) -240px 0px; }

@media (max-width: 767px) {
  .reward {
    padding: 0 20px; }
    .reward__uniqe-proposal {
      padding: 0;
      width: 100%;
      text-align: center; }
      .reward__uniqe-proposal:before {
        position: static;
        margin: auto; } }

.organizer {
  text-align: center; }

@media (max-width: 568px) {
  .organizer img {
    width: 200px; } }

.speakers__details {
  width: 50%;
  float: left;
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  padding: 15px;
  font-family: 'Open Sans';
  text-align: left; }
  .speakers__details h3 {
    color: #f6772c; }
.speakers__img {
  display: inline-block;
  float: left;
  margin: 19px 29px 19px 0; }
  .speakers__img img {
    width: 121px; }
.speakers p {
  text-align: justify; }

@media (max-width: 767px) {
  .speakers__details {
    padding: 20px;
    text-align: center; }
  .speakers__img {
    display: block;
    float: none;
    text-align: center; } }

@media (max-width: 568px) {
  .speakers__details {
    width: 100%; } }

.partner {
  margin-bottom: 50px; }
  .partner__logo {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 25px;
    width: 25%;
    float: left; }
    .partner__logo img {
      width: 100%; }

@media (max-width: 1023px) {
  .partner__logo {
    width: 33.3%; } }

@media (max-width: 767px) {
  .partner__logo {
    width: 50%; } }

.registration {
  background-color: #e7edf3;
  padding-bottom: 50px; }

.prices {
  display: table; }
  .prices__item {
    display: inline-block;
    width: 33.3%;
    vertical-align: middle;
    padding: 30px 20px 30px;
    box-sizing: border-box; }
    .prices__item__title {
      padding: 0;
      font-family: 'Lato';
      color: #818b95; }
    .prices__item__price {
      color: #f6772c;
      text-align: center; }
      .prices__item__price span {
        font-size: 45px;
        position: relative; }
        .prices__item__price span:before {
          content: "$";
          position: absolute;
          font-size: 25px;
          left: -20px; }
    .prices__item__description {
      text-align: center;
      margin: 0;
      border-top: 1px solid #b5bbc1;
      color: #b5bbc1;
      padding: 5px; }
    .prices__item__description--border-btn {
      border-bottom: 1px solid #b5bbc1; }
    .prices__item__button {
      margin: 20px auto;
      background: #3395f7;
      display: block;
      border: none;
      border-radius: 3px;
      padding: 5px 30px;
      font-family: 'Lato', sans-serif;
      font-size: 18px;
      color: #fff;
      text-transform: uppercase; }
  .prices__item--first {
    height: 300px;
    background-color: #fff; }
  .prices__item--second {
    height: 350px;
    background-color: #ffbb42; }
    .prices__item--second .prices__item__title {
      padding-top: 25px;
      color: #fff; }
    .prices__item--second .prices__item__price {
      color: #fff; }
    .prices__item--second .prices__item__description {
      text-align: center;
      margin: 0;
      border-top: 1px solid #fff;
      color: #fff;
      padding: 5px; }
    .prices__item--second .prices__item__description--border-btn {
      border-bottom: 1px solid #fff; }
    .prices__item--second span:after {
      content: "при оплате до 10 июня";
      position: absolute;
      left: -43px;
      top: 55px;
      width: 190px;
      font-size: 16px;
      color: #709dca; }
  .prices__item--third {
    height: 300px;
    background-color: #fff; }
    .prices__item--third span:after {
      content: "при после 10 июня";
      position: absolute;
      left: -43px;
      top: 55px;
      width: 190px;
      font-size: 16px;
      color: #7b7b7b; }

@media (max-width: 768px) {
  .prices {
    padding: 20px; }
    .prices__item {
      width: 33.3%; }
    .prices__item--first, .prices__item--third {
      height: 340px; }
    .prices__item--second {
      height: 388px; } }

@media (max-width: 568px) {
  .prices .prices__item {
    height: auto;
    width: 100%; } }

.reviews {
  background-color: #ffc155;
  padding-bottom: 50px; }
  .reviews__title {
    color: #fff; }

.review {
  position: relative;
  box-sizing: border-box;
  width: 80%;
  margin: 0 auto 20px;
  background-color: #fff;
  padding: 25px 15px 25px 150px; }
  .review p {
    font-family: 'Open Sans';
    font-size: 14px; }
  .review__author {
    color: #f6772c;
    text-transform: uppercase;
    margin: 0; }
  .review:before {
    content: "";
    display: block;
    position: absolute;
    height: 121px;
    width: 121px;
    background-size: 121px 121px;
    top: 25px;
    left: 15px; }
  .review__one:before {
    background-image: url(/assets/img/belaya.png); }
  .review__two:before {
    background-image: url(/assets/img/shevchuk.png); }
  .review__three:before {
    background-image: url(/assets/img/speaker.png); }

@media (max-width: 568px) {
  .review {
    width: 100%; } }

.contacts {
  margin-bottom: 80px; }
  .contacts__item {
    width: 450px;
    float: left;
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    padding-left: 150px;
    float: none;
    display: block;
    margin: auto;
    padding-top: 20px; }
    .contacts__item__name {
      color: #f6772c; }
    .contacts__item:before {
      content: "";
      display: block;
      position: absolute;
      height: 121px;
      width: 121px;
      background-size: 121px 121px;
      top: 0;
      left: 0;
      background-image: url(/assets/img/soloid.png); }

@media (max-width: 568px) {
  .contacts__item {
    width: 100%;
    padding: 0;
    text-align: center; }
    .contacts__item:before {
      position: static;
      margin: auto; } }

.footer {
  background: #709dca; }
  .footer__logo {
    display: block;
    width: 33%;
    box-sizing: border-box;
    float: left;
    margin: auto;
    padding-top: 20px; }
    .footer__logo img {
      width: 250px; }
  .footer__contacts {
    width: 33%;
    box-sizing: border-box;
    float: left;
    padding-left: 30px;
    position: relative;
    padding-top: 20px;
    font-size: 18px;
    color: #fff;
    text-align: center; }
    .footer__contacts__phone:before {
      content: "";
      display: inline-block;
      vertical-align: bottom;
      margin-right: 5px;
      width: 22px;
      height: 25px;
      background: url(/assets/img/icons-sprite.png) -320px -80px; }
    .footer__contacts__email:before {
      content: "";
      display: inline-block;
      vertical-align: bottom;
      margin-right: 5px;
      width: 22px;
      height: 25px;
      background: url(/assets/img/icons-sprite.png) -240px -80px; }
  .footer__social-nav {
    width: 33%;
    box-sizing: border-box;
    float: left; }
  .footer__copyright {
    margin: auto;
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 10px 0 10px 0; }

.social-nav {
  float: right;
  margin-top: 10px; }
  .social-nav__link {
    display: inline-block;
    float: left;
    font-family: 'Lato', sans-serif;
    color: #868686;
    text-transform: uppercase;
    padding-top: 10px; }
    .social-nav__link__icon {
      width: 30px;
      padding: 5px 10px; }

@media (min-width: 768px) and (max-width: 939px) {
  .footer {
    padding: 0 10px 0; }
    .footer__contacts__phone:before {
      content: "";
      display: block;
      vertical-align: bottom;
      margin: 0 auto 5px;
      width: 22px;
      height: 25px;
      background: url(/assets/img/icons-sprite.png) -320px -80px; }
    .footer__contacts__email:before {
      content: "";
      display: block;
      vertical-align: bottom;
      margin: 0 auto 5px;
      width: 22px;
      height: 25px;
      background: url(/assets/img/icons-sprite.png) -240px -80px; } }

@media (max-width: 767px) {
  .footer__contacts {
    width: 100%; }
  .footer__logo {
    display: block;
    width: 100%; }
    .footer__logo img {
      display: block;
      margin: auto; }
  .footer__social-nav {
    width: 100%; }
    .footer__social-nav .social-nav {
      display: table;
      margin: auto;
      float: none; } }

.container {
  margin: 0 auto; }

.back-to-top {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 100px;
  width: 72px;
  height: 72px;
  background: url(/assets/img/icons-sprite.png) -80px -211px; }

@media (min-width: 1024px) {
  .container {
    width: 940px; } }

@media (max-width: 1023px) {
  h2 {
    padding: 60px 0 45px; }
  .review {
    float: none;
    display: block;
    margin: auto;
    margin-bottom: 20px; } }
